{% extends 'base.html' %}
{% load static %}
{% load my_filters %}
{% block css_additional %}
<link rel="stylesheet" href=" {% static 'horoscope/css/info.css' %} ">
{% endblock %}
{% block title %}Гороскоп для {{ sign|capfirst }}{% endblock %}
{% block content %}
    {% include 'includes/navbar.html' %}
    <h1>{{ description_zodiac|split|first|title }}</h1>
    {% if description_zodiac is None %}
        <h2>Неправильный знак зодиака - {{ sign|capfirst }}</h2>
    {% else %}
        <h2>{{ description_zodiac|title }}</h2>
    {% endif %}
{% endblock %}