{% extends 'movie_app/base.html' %}
{% block title %} {{ actor }} - информация. {% endblock %}
{% block content %}
    {% if actor.gender == 'M' %}
    <h2>Актер</h2>
    {% else %}
    <h2>Актриса</h2>
    {% endif %}
    <h3>Имя: {{ actor.first_name }}</h3>
    <h3>Фамилия: {{ actor.last_name }}</h3>
    <h3>Пол: {{ actor.gender }}</h3>
    <hr>
    <h2>Список фильмов</h2>
    {% for movie in actor.movies.all %}
       <p><a href="{{ movie.get_url }}">{{ movie.name }}</a></p>
    {% endfor %}
{% endblock %}