{% extends 'movie_app/base.html' %}
{% block title %} Информация о фильме - {{ movie.name }}{% endblock %}
{% block content %}
    <h2>Информация о фильме - {{ movie.name }}</h2>
    <h3>Рейтинг: {{ movie.rating }}%</h3>
    <h3>Бюджет: {{ movie.budget }}$</h3>
    <h3>Год выхода: {{ movie.year|default:"Неизвестен" }}</h3>
    <hr>
    <h3>Режиссер: <a href="{{ movie.director.get_url }}">{{ movie.director }}</a></h3>
    <hr>
    <h2>Список актеров - {{ movie.name }}</h2>
    {% for actor in movie.actors.all %}
    <p><a href="{{ actor.get_url }}">{{ actor }}</a></p>
    {% endfor %}
{% endblock %}